.container {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.footer {

    background-color: #292b2c;
    color: aliceblue;
    height: 300px;
}

.logo {

    margin-top: 50px;

}

.col-md-3 {
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
}



.share {
    position: relative;
    font-size: 15px;
    border-radius: 3em;
    border: none;
    font-family: inherit;
    font-weight: 800;
    color: white;
    background-color: #617baf;
}

.tweet {
    position: relative;
    font-size: 15px;
    border-radius: 3em;
    border: none;
    font-family: inherit;
    font-weight: 800;
    color: white;
    background-color: #40b9e7;


}

.post {

    position: relative;
    font-size: 15px;
    border-radius: 3em;
    border: none;
    font-family: inherit;
    font-weight: 800;
    color: white;
    background-color: #4a99bf;


}

body {
    background: #626262d3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card {
    height: 500px;
    margin: 10px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    transition: all 0.5s;

}

.card:hover {
    transform: scale(1.15)
}

.content {
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    width: 500px;
    height: auto;
    text-align: center;
    background-color: #e8eae6;
    box-sizing: border-box;
    padding: 10px;
    z-index: 100;
    display: none;


}

.close-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 4px;
}


.button {

    color: rgb(250, 250, 250);

    font-family: Roboto, sans-serif;
    font-size: 17px;



}

button {
    box-shadow: 2px 2px 10px black;
    transition: all 0.5s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

button:hover {

    background: #626262d3;
    border-radius: 50px;
    box-shadow: 2px 2px 10px black;
    transform: scale(1.15)
}
